* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* mobile styles */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-image: url(images/background-header.png);
  background-size: cover;
  background-position: 50% 20%;
}

.logo-container {
  background-color: #2e2b2b;
  opacity: 70%;
  height: 70px;
  position: relative;
  top: 20%;
}

.logo {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
}

header,
div {
  flex: 1 50px;
}

.form-info,
.button-container {
  background-color: #322f2f;
  color: #fbf5e9;
  text-align: center;
  padding: 50px;
}

.form-container {
  flex: 5;
  background-color: #4f4b4b;
  text-align: center;
  color: #fbf5e9;
  padding: 30px;
}

.form-container h2 {
  margin-bottom: 30px;
  font-weight: bold;
}

.form-container,
#form,
label {
  display: flex;
  flex-direction: column;
}

#form label {
  margin-bottom: 10px;
}

input {
  appearance: none;
  border-radius: 5px;
  background-color: #cec093;
}

input:focus,
input:hover {
  border: 3px solid #215524;
}

label span {
  align-self: flex-start;
}

button {
  padding: 10px;
  background-color: #cfb145;
  margin-bottom: 5px;
  color: #fbf5e9;
  font-weight: bold;
  border-radius: 5px;
}

button:hover,
button:focus {
  background-color: hsl(47, 56%, 42%);
}

a {
  color: #cfb145;
  font-weight: bold;
}

/* Desktop styles */

@media only screen and (min-width: 961px) {
  body {
    flex-direction: row;
  }

  header {
    flex: 1 200px;
  }

  section {
    display: flex;
    flex-direction: column;
    flex: 3;
  }

  .form-info {
    padding-right: 30%;
    padding-left: 5%;
    text-align: left;
  }

  .form-container {
    padding-right: 30%;
    padding-left: 5%;
  }

  #form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }

  label {
    flex-basis: 45%;
  }

  input {
    height: 40px;
  }

  .button-container {
    padding-right: 30%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  button {
    width: 200px;
    height: 50px;
  }
}
